.row
  .large-8.columns.large-centered
    %form{:method => "POST", :action => messages_path}
      %label{:for => "Text"}
        Text
      %input{:type => "text", :name => "Text", :id => "Text", :placeholder => "Mobile"}
      %label{:for => "MobileNumber"}
        Mobile Number
      %input{:type => "text", :name => "MobileNumber", :id => "MobileNumber", :placeholder => "+254722000000"}
      %input.button.small{:type => "submit"}