#confirm-details{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Your Device Details
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      %li{"data-role" => "list-divider"}
        Test your device

    %a.ui-submit.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-b{:href => "/result"}
      %span.ui-btn-inner
        %span.ui-btn-text
          Test
