- if user_signed_in?
  .row
    .large-8.large-centered.columns
      %h4.centered.header
        Welcome to Orient Mobile Claims :
        - if current_user.user_type == "CP"
          KOIL Claims Portal
        - else
          Dealer Portal
  .row
    .large-8.large-centered.columns

      - if current_user.user_type == "DP"
        .row
          .large-6.columns.details
            Outlet: #{current_user.agent.name}
          .large-6.columns.details
            Outlet Code #: #{current_user.agent.code}
      .row.spacer
        %form{:method => "POST", :action => claim_search_path}
          .large-6.columns
            %label
              Claim No:
            %input{:type => "text", :name => "claim_no"}
            %input{:name=>"authenticity_token", :value=> "#{form_authenticity_token}", :type=> "hidden"}
          .large-6.columns
            %label{:style => "display:block"}
              &nbsp;
            %input.small.button{:type => "submit"}
