.hero
  .logo-holder
    .row.menu-holder    
      %a.logo      
      / %ul.top-links.hide-for-small{"data-magellan-expedition" => "fixed"}
      %ul.top-links.hide-for-small
        %li{"data-magellan-arrival" => "build"}
          %a#insure.active
            INSURE        
        %li
          %a#devices
            DEVICES
        %li
          %a#claims
            CLAIMS
        %li
          %a#testimonials
            TESTIMONIALS
        / %li
        /   %a#copyright
        /     TERMS & CONDITIONS
  .row
    .large-12.columns
      %ul.banner-orbit{"data-orbit" => "", "data-options" => "navigation_arrows:true;slide_number:false;bullets:false;animation:'fade';animation_speed:1500;timer:false;"}
        %li{"data-orbit-slide" => "damaged"}
          %img{:src => "/assets/damaged_banner.png"}        
        %li{"data-orbit-slide" => "stolen"}
          %img{:src => "/assets/stolen_banner.png"}
      .learn-more
        %a
          LEARN MORE
        %a.img-link
.jumbo.insure
  .row
    .large-8.large-centered.columns
      %p
        This is an insurance service provided by Kenya Orient Insurance Limited to cover your mobile devices, specifically mobile phones and tablets. Orient Mobile provides compensation for the loss 
  .row
    .large-4.columns
      .feature
        %img{:src => "/assets/stolen_icon.png"}
        %h5
          STOLEN?
        %p
          Theft of your phone/ tablet assuming you have taken reasonable precautions to keep your device secure. Theft claims MUST be reported to the police within 48 hours of the theft. If the loss occurs when you are outside Kenya, please report the incident to the police in the country you are in within 48 hours and get a written report of the same.
    .large-4.columns
      .feature
        %img{:src => "/assets/damaged_icon.png"}
        %h5
          DAMAGED?
        %p
          We cover accidental damage e.g. damage caused by dropping the phone/ tablet, malicious damage i.e. vandalism and liquid damage
    .large-4.columns
      .feature
        %img{:src => "/assets/lost_icon.png"}
        %h5
          LOST?
        %p
          Loss of your phone/ tablet assuming you have taken reasonable precautions to keep your device secure. Loss claims MUST be reported to the police within 48 hours of the loss. If the loss occurs when you are outside Kenya, please report the incident to the police in the country you are in within 48 hours and get a written report of the same.
.devices
  .row
    .large-12.columns.large-centered
      %h4
        Devices Covered
      %p
        At the moment, Orient Mobile can only cover selected models of the following phone manufacturers. The list of covered devices will be reviewed on a regular basis. Please note that at the moment, Orient Mobile can only cover devices that can access the internet. 
  .row
    .large-12.columns.large-centered.small-centered
      %ul.large-block-grid-6
        %li
          %img.th{:src => "/assets/alcatel.png"}
        %li
          %img.th{:src => "/assets/apple.png"}
        %li
          %img.th{:src => "/assets/blackberry.png"}
        %li
          %img.th{:src => "/assets/hp.png"}
        %li
          %img.th{:src => "/assets/htc.png"}
        %li
          %img.th{:src => "/assets/lg.png"}
        %li
          %img.th{:src => "/assets/mifone.png"}
        %li
          %img.th{:src => "/assets/motorola.png"}
        %li
          %img.th{:src => "/assets/nokia.png"}
        %li
          %img.th{:src => "/assets/samsung.png"}
        %li
          %img.th{:src => "/assets/sony.png"}
.claims
  .row
    .large-6.columns
      %h4
        Registering a Claim

      %p
        Lost / Damaged your insured mobile device? Don't worry, registering a Claim online is easy and takes only a couple of minutes. All
        you need is the ID that you used to register for your Orient Mobile Policy.

      %form.subscribe{:method => "POST", :action => customer_login_path}
        .row.collapse          
          .large-8.columns
            %input{:type => "text", :placeholder => "Your ID / Passport Number *"}
          .large-4.columns
            %input.button.postfix.expand.signup{:type => "submit", :value => "Begin"}  

    .large-6.columns
      %h4
        Claim Registration Checklist
      %p
        Depending on your type of claim, you will need certain documents before you claim is successfully processed.

      .section-container.auto{"data-section" => ""}
        %section.active
          %p.title{"data-section-title" => ""}
            %a{:href => "#damage-claims"} Damage
          #damage-claims.content.active
            %p
              For a Damage claim you need the following:
            %ol
              %li
                The Damaged Device
              %li
                Original or certified copy of purchase receipt/ warranty
              %li
                Original ID or Passport
              %li
                Copy of ID or Passport           
        %section
          %p.title{"data-section-title" => ""}
            %a{:href => "#theft-claims"} Theft / Loss
          #theft-claims.content.active
            %p
              For a Theft claim you need the following:
            %ol
              %li
                Police Abstract
              %li
                Original or certified copy of purchase receipt/ warranty
              %li
                Completed and stamped Blocking Request Form from mobile network operator
              %li
                Original ID or Passport
              %li
                Copy of ID or Passport        

.testimonials
  .row
    .large-12.columns.large-centered
      %img.quote{:src => "/assets/quotes.png"}
      %ul{"data-orbit" => "", "data-options" => "navigation_arrows:true;slide_number:false;bullets:false;animation:'fadeAndPop';animation_speed:1500;timer:false;"}
        %li{"data-orbit-slide" => "client_one"}
          %blockquote
            thank you very much ,i have picked the phone from Nakumatt Lifestle Nairobi and most greatful to Kenya Orient. i swear to be a good ambassodor to you guys!!!!!!!!!!!!! bravo! this is the best thing that ever happened to Kenyans!
            %cite
              Edwin Waini Ndege /
              Nairobi


        %li{"data-orbit-slide" => "client_two"}
          %blockquote
            I have been talking about it to all my work colleagues. They didn’t believe it. I also didn’t believe in the Mobile insurance however I still took it up. My phone was stolen a month later and Kenya Orient replaced it within a week’s time. I still can’t believe it. The process to insure and claim is so easy. I have already taken up insurance for the replaced phone that I got from Fone Express. 
            Your customer service is very good, Thank you
            %cite
              Tom Ndege
.footer
  .row
    .large-12.columns
      .row
        .large-3.columns
          %ul.vcard
            %li
              Corporate Headquarters
            %li
              Capitol Hill Towers
            %li.street-address
              6th Floor, Nairobi, Kenya 
            %li.street-address
              TEL. 020 272 860 3/4
            %li.street-address
              Email: 
              %a{:href =>"mailto:info@korient.co.ke"}
                info@korient.co.ke
        .large-3.columns
          %h6
            QUICK LINKS
          %ul.large-block-grid-2.small-block-grid-2.links
            %li
              %a{:href => '/customer'}
                Register a claim
            %li
              %a{:href => '/new_status'}
                Check Status
            %li
              %a{:href => '#'}
                Terms & Conditions
            %li
              %a{:href => '/users/sign_in?user_type=DP'}
                Dealer Portal
            %li
              %a{:href => '/users/sign_in?user_type=SC'}
                Service Centre
            %li
              %a{:href => '/users/sign_in?user_type=CP'}
                Claims Portal
        .large-4.columns
          %p
            Sign up to our newsletter:
          %form.subscribe
            .row.collapse
              .large-8.columns
                %input{:type => "email", :placeholder => "Your Email*"}
              .large-4.columns
                %input.button.postfix.expand.signup{:type => "submit", :value => "Sign Up"}
        .large-2.columns
          %p
            We are social too:
          %ul.large-block-grid-4.social-icons
            %li
              %a.facebook
            %li
              %a.twitter
.copyright
  .row
    .large-10.columns
      %p
        Copyright &copy; 2013 Kenya Orient Insurance Limited
    .large-2.columns
      %p
        %a
          Terms
        &nbsp;|&nbsp;
        %a
          Privacy Policy