.row
  .large-12.columns
    %h1.subheader
      SECTION A | PRODUCT DESCRIPTION
    %ol.terms
      %li
        %h3.subheader
          What is Orient Mobile?
        %p
          This is an insurance service provided by Kenya Orient Insurance Limited to cover your mobile devices, specifically mobile phones and tablets with a SIM card. Orient Mobile provides compensation for the cost of repairing or replacing a damaged or lost/ stolen phone/ tablet.
      %li
        %h3.subheader
          What incidents are covered by Orient Mobile?
      %ol
        %li
          Loss or theft of your phone/ tablet assuming you have taken reasonable precautions to keep your device secure.          
          %strong
            Loss/ theft claims MUST be reported to the police within 48 hours of the loss.
          If the loss/ theft occurs when you are outside Kenya, please report the incident to the police in the country you are in within 48 hours and get a written report of the same.
        %li
          Accidental damage e.g. damage caused by dropping the phone/ tablet
  /       %li._ul-bulletStyles-1--ul- Liquid damage
  /       %li._ul-bulletStyles-1--ul- Malicious damage i.e. vandalism
  /       %li._ul-bulletStyles-1--ul- Charger.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Does Orient Mobile also cover the mobile device accessories?
  /     %p._p-Paragraph--p- The following accessories will be replaced along with your lost or irreparably damaged device:
  /     %ol
  /       %li._ul-bulletStyles-1--ul- Standard earphones normally included during the purchase of the device
  /       %li._ul-bulletStyles-1--ul- Charger
  /     %p._p-Paragraph--p- Please note that these accessories cannot be insured and claimed for separately from the device.
  /     %p._p-Paragraph--p-  
  /   %li._h2-Heading2--h2-
  /     What incidents are NOT covered by Orient Mobile?
  /     %ol
  /       %li._ul-bulletStyles-1--ul-.ParaOverride-1 Theft or damage of the device when it is left in an unoccupied vehicle UNLESS the vehicle doors, windows and boot were all locked and the device was in the boot, glove compartment or under a seat at the time of the incident.
  /       %li._ul-bulletStyles-1--ul- Theft of the device when it is left unattended in a place to which the public has access
  /       %li._ul-bulletStyles-1--ul- Damage intentionally caused by the policyholder or anyone whom the policyholder has allowed to keep or use the device
  /       %li._ul-bulletStyles-1--ul- Manufacturer’s defects – these should be covered under your manufacturer’s warranty
  /       %li._ul-bulletStyles-1--ul- Battery damage or failure
  /       %li._ul-bulletStyles-1--ul- Loss of data and/ or the SIM card
  /       %li._ul-bulletStyles-1--ul- Software damage or failure, hardware failure in the absence of physical damage
  /       %li._ul-bulletStyles-1--ul- Any damage caused by viruses
  /       %li._ul-bulletStyles-1--ul- Unexplained damage i.e. if the damage to the device was not caused by a specific accidental incident e.g. a fall
  /       %li._ul-bulletStyles-1--ul- Regular wear & tear and cosmetic damage e.g. chipped paint or scratches
  /       %li._ul-bulletStyles-1--ul- Loss of or damage to the phone/ tablet due to an act of terrorism, war or radioactivity
  /       %li._ul-bulletStyles-1--ul- Subscription or reconnection costs of any kind
  /       %li._ul-bulletStyles-1--ul- Damage for phones or tablets which have been previously repaired UNLESS that repair was done by an Orient Mobile Authorized Repairer in the course of an Orient Mobile policy period
  /       %li._ul-bulletStyles-1--ul- Loss or damage that occurred while the policyholder was intoxicated
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If I have multiple phones and/ or tablets, can I insure all of them?
  /     %p._p-Paragraph--p- Yes. You can register multiple devices using the same National ID or Passport number. However, the cover for each device will have to be purchased separately and each device will have a unique policy number.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I insure phones and tablets of any make?
  /     %p._p-Paragraph--p- At the moment, Orient Mobile can only cover selected models of the following makes:
  /     %ol
  /       %li._ul-bulletStyles-1--ul- Alcatel
  /       %li._ul-bulletStyles-1--ul- Apple
  /       %li._ul-bulletStyles-1--ul- Blackberry
  /       %li._ul-bulletStyles-1--ul- HP
  /       %li._ul-bulletStyles-1--ul- HTC
  /       %li._ul-bulletStyles-1--ul- LG
  /       %li._ul-bulletStyles-1--ul- MI-Fone
  /       %li._ul-bulletStyles-1--ul- Motorola
  /       %li._ul-bulletStyles-1--ul- Nokia
  /       %li._ul-bulletStyles-1--ul- Samsung
  /       %li._ul-bulletStyles-1--ul- Sony
  /     %p._p-Paragraph--p- The list of covered devices will be reviewed on a regular basis. Please note that at the moment, Orient Mobile can only cover devices that can access the internet. If you would like to find out if your device can be covered by Orient Mobile.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If I travel out of Kenya will my phone/ tablet still be covered?
  /     %p._p-Paragraph--p- Yes, your phone/ tablet will continue to be covered for the first 30 days of each trip outside Kenya.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Is there a limit on the number of claims I can make per year?
  /     %p._p-Paragraph--p- Yes, in order to ensure Orient Mobile remains an affordable product, the number of claims is limited to a maximum of two claims per device per year. The 2nd claim cannot be less than 31 days after the 1st claim.
  /     %p._p-Paragraph--p- Additionally, if a person makes three claims (in total for all their devices) within 1 year, they will no longer be eligible to buy Orient Mobile for any more devices. However, any devices that were insured before lodging the 3rd claim will continue to be covered until the policies expire.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I buy an Orient Mobile policy if I am under the age of 18?
  /     %p._p-Paragraph--p- No, you cannot because Orient Mobile is a contract and minors cannot enter into contracts. However, your parent or the adult who has registered the phone/ tablet SIM with the mobile network operator can buy the policy on your behalf.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If my phone or tablet is replaced after a theft or irreparable damage, will my new device be covered?
  /     %p._p-Paragraph--p- After a device is declared lost or damaged beyond repair, the Orient Mobile cover for that device will expire and you will receive a replacement. Please take a new Orient Mobile policy for your replacement device by following the sign-up procedure. However, if your phone/ tablet is damaged and then repaired and returned to you, the Orient Mobile cover for that device will continue to be in force and you will not have to register again.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If I have an Orient Mobile policy will I have to pay anything additional to have my phone/ tablet repaired or replaced?
  /     %p._p-Paragraph--p- If your phone/ tablet is damaged beyond repair or lost/ stolen, your additional cost for replacement of the device will be 10% of its insurance value, minimum KES 1,000. This first portion of a claim which is paid by the Insured is known as Excess. The payment of Excess is a standard practice for most classes of property insurance e.g. motor vehicle insurance, Fire insurance for residential and commercial buildings, insurance for business stock or equipment, etc.
  /     %p._p-Paragraph--p- This Excess amount will be deducted from the value of the replacement you will be eligible for. For example, if you have insured your phone/ tablet for KES 15,000 and it gets lost or irreparably damaged, you will be given a credit of KES 13,500 (15,000 – 1,500) which you can redeem for a replacement at one of our authorized dealers.
  /     %p._p-Paragraph--p- However, in case of a damage claim where your device is repaired and returned to you, you will not have to pay an additional amount.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     How will I know whether my damaged phone/ tablet should be repaired or replaced?
  /     %p._p-Paragraph--p- Once you submit your damaged device and all accompanying documents to an authorized outlet, you will receive notification via SMS and email on whether your device will be repaired or replaced. You will receive this notification within 3 working days.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     When my phone/ tablet is lost/ stolen or damaged beyond repair can my replacement device be of any make & model?
  /     %p._p-Paragraph--p- When you are eligible to receive a replacement device, we will send you an email and SMS confirming the amount of your Replacement Limit. This Replacement Limit will be the insurance value of the device less the Excess amount explained above. You can use the amount of the Replacement Limit towards the purchase of any phone or tablet sold by the dealer. You cannot use that amount towards the purchase of an alternative device such as a camera or computer.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I use my Replacement Limit to get a more expensive device?
  /     %p._p-Paragraph--p- Yes. You can pay our authorized dealer in cash for the difference between your Replacement Limit and the price of the more expensive device you want. If, however, you redeem your Replacement Limit for a device that costs less than the amount of your Replacement Limit, you shall not receive a refund.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If my Replacement Limit is more than the cost of the replacement phone, can I use the balance towards the purchase of something else at the outlet?
  /     %p._p-Paragraph--p- Yes. You can use the balance of your Replacement Limit to get an additional phone, tablet, charger, battery, cover or set of earphones.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If I sign up for Orient Mobile today can I make a claim immediately?
  /     %p._p-Paragraph--p- When you sign up for Orient Mobile there is a 14-day waiting period for accidental physical damage claims. This means that if your device is damaged within the first 14 days of the policy period, that claim is not payable. However, if your device is lost or stolen, you can claim for it immediately.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Does Orient Mobile only cover brand new devices?
  /     %p._p-Paragraph--p- You can cover your phone/ tablet under Orient Mobile as long as it was bought in the current year or last year. Orient Mobile covers devices up to a maximum of 2 years. Therefore there are two scenarios:
  /     %ol
  /       %li._ul-bulletStyles-1--ul- If your sign up for Orient Mobile in the year of purchase of your device, you can insure it for 1 year and upon expiry, buy another 1-year policy. For example, if you bought your device in 2013, you can buy an Orient Mobile policy in 2013 and then buy another policy in 2014.
  /       %li._ul-bulletStyles-1--ul- If you sign up for Orient Mobile in the year after the year of purchase of your device, you can insure it once for 1 year. For example, if you bought your device in 2012, you can buy an Orient Mobile policy in 2013. However, you will not be eligible to buy another policy for that device in 2014.
  /     %p._p-Paragraph--p-
  /       %strong._---ul-Bold--ul- The year of purchase you provide during the sign-up process MUST be the year of purchase indicated on the purchase receipt or warranty for the device.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I cover a phone or tablet that I bought second hand?
  /     %p._p-Paragraph--p-
  /       Yes, if you have the receipt. When making a claim under Orient Mobile, we will require you to submit the original or certified copy of the Electronic Tax Register (ETR) purchase receipt or a written confirmation of purchase and warranty on the letterhead of the authorized dealer who sold you the device. This receipt or warranty
  /       %strong._---ul-Bold--ul- MUST
  /       show the year of purchase that you provided when you signed up for the policy.
  /       %strong._---ul-Bold--ul- Therefore, we advise you to only sign up for Orient Mobile for devices for which you have the original or certified copy of the ETR receipt or warranty showing the date of purchase.
  /       This ETR receipt or warranty must display the name of the dealer, the make & model of the device, the IMEI no. of the device, the date of purchase and the amount paid. Photocopied receipts must be certified by the retailer who sold you the device.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     I have the original receipt for my phone/ tablet but it is fading. Can I still use it to make a claim?
  /     %p._p-Paragraph--p- We recommend that you make a copy (photocopy or scan) of your receipt before it fades and have the retailer certify this copy. Please store the original receipt with the photocopy and submit both when making a claim. Please note that claims submitted with photocopied receipts may take longer to process.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     At the time I bought my Orient Mobile policy I had a receipt but it is now lost or completely faded. Can I make a claim?
  /     %p._p-Paragraph--p- In order to make an Orient Mobile claim you must have the original or certified copy of an ETR receipt or warranty that displays the name of the dealer, the make & model of the device, the IMEI no. of the device, the date of purchase and the amount paid. Please check with the authorized dealer who sold you the device to find out if they can re-print your receipt or certify the photocopy. Please note that claims submitted with photocopied receipts may take longer to process.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     My ID/ Passport has been misplaced. How can I make a claim?
  /     %p._p-Paragraph--p- In this case, please provide a completed police abstract with the details of your lost ID or passport. Please note that claims submitted with police abstracts in place of ID’s or Passports may take longer to process.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I choose the value for which I want to insure my phone/ tablet?
  /     %p._p-Paragraph--p- No. The insurance value of your phone will be determined based on its make and model and year of purchase. Our database has a device catalogue with a set value for every make and model that we insure. We update these prices regularly in order to keep up to-date with the continually changing market prices of mobile devices. You will see the insurance value of your device during the sign-up process  before you make a payment. This is to ensure that you are comfortable with the insurance value before committing to an Orient Mobile policy.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     If I insure my phone/ tablet for the given insurance value and your catalogue prices change will the insurance value of my device also change?
  /     %p._p-Paragraph--p- No it will not. Once you buy an Orient Mobile policy, the insurance value of your device remains the same for the entire policy period. In case your device is lost or damaged beyond repair, its replacement value will be based on the insurance value regardless of the catalogue/ market price at that time.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     How much does an Orient Mobile policy cost?
  /     %p._p-Paragraph--p- The 1-year premium for your Orient Mobile policy will be determined during the sign-up process when our system identifies the make & model of your device and you confirm the year of purchase. The minimum annual premium to insure a device is KES 999.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I pay my Orient Mobile premium in instalments?
  /     %p._p-Paragraph--p- You can pay your Orient Mobile premium in 3 equal monthly instalments. Towards the end of the first and second months of cover you will receive an SMS reminder to make your next payment in order to continue to cover your device. Please make this payment on or before the due date. If the payment is not made on or before the due date, your Orient Mobile policy will lapse and there will be no refund.
  /     %br/
  /     %p._p-Paragraph--p- Please note that you must finish paying your full annual premium before a claim can be registered and processed.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     When I pay my premium in instalments will my device be covered for a full year?
  /     %p._p-Paragraph--p- When you pay your premium in instalments, you will receive cover for 1 month, which will be extended to the end of the 12-month period when you make your final payment. For example, if you paid your 1st instalment on 1st August 2013, your policy dates would be as follows:
  /     %br/
  /     %table#table-1._tb-payment--tb-
  /       %colgroup
  /         %col/
  /         %col/
  /         %col/
  /         %col/
  /       %tbody
  /         %tr
  /           %td.headerCell
  /             %p._p-Paragraph--p-
  /               %strong._---ul-Bold--ul- Instalment
  /           %td.headerCell
  /             %p._p-Paragraph--p-
  /               %strong._---ul-Bold--ul- Date of Payment
  /           %td.headerCell
  /             %p._p-Paragraph--p-
  /               %strong._---ul-Bold--ul- Policy Start Date
  /           %td.headerCell
  /             %p._p-Paragraph--p-
  /               %strong._---ul-Bold--ul- Policy End Date
  /         %tr
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 1
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 1st August 2013
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 1st August 2013
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 31st August 2013
  /         %tr
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 2
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 31st August 2013
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 1st September 2013
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 30th September 2013
  /         %tr
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 3
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 30th September 2013
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 1st October 2013
  /           %td.bodyCell
  /             %p._p-Paragraph--p- 31st July 2014
  /     %p._p-Paragraph--p- You can pay your total outstanding balance at any time before the policy lapses.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     My phone is a dual SIM and has two IMEI numbers. Which one should I submit when signing up for Orient Mobile?
  /     %p._p-Paragraph--p- Please submit the IMEI no. that appears on the ETR receipt or warranty for the device. If both IMEI numbers appear on the receipt or warranty, please submit the one displayed on your handset as IMEI 1.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     Can I sign-up for an Orient Mobile policy for my device using a different phone/ tablet?
  /     %p._p-Paragraph--p- No. The sign-up process for Orient Mobile must be completed on the device that is to be insured. However, you can register a claim for your device or make an enquiry on your policy or claim using any phone/ tablet. The phone/ tablet must be able to access the internet in order for any of these processes to be completed on the device.
  /   %br/
  /   %li._h2-Heading2--h2-
  /     How long will it take for my phone/ tablet to be repaired or replaced once I report a claim?
  /     %ol
  /       %li._ul-bulletStyles-1--ul-.ParaOverride-1
  /         %strong._---ul-Bold--ul- Repairs:
  /         this will depend on the extent of the damage of the phone/ tablet. For most repairs, your device will be ready for collection within 4 to 5 working days from when you submit the required claim documents at our authorized partner’s outlet. However, certain repairs may take a longer time.
  /       %li._ul-bulletStyles-1--ul-
  /         %strong._---ul-Bold--ul-> Replacements:
  /         on average, it will take 3 to 4 working days from when you submit the required claim documents at our authorized partner’s outlet for you to receive confirmation that you can collect a replacement device. You can expect to receive feedback from KOIL via SMS and email within 3 working days of submitting your claim at the outlet. Please note that claims submitted with photocopied receipts or Police abstracts in place of ID/ Passport may take longer to process. Please see Section C for more details.
  /     %p._p-Paragraph--p- You can expect to receive feedback from KOIL via SMS and email within 3 working days of submitting your claim at the outlet. Please note that claims submitted with photocopied receipts or Police abstracts in place of ID/ Passport may take longer to process.
  /     %br/
  /     %h1._h1-Heading1--h1- SECTION B: SIGN-UP PROCESS
  /     %br/
  /     %p._p-Paragraph--p- Before you sign up for Orient Mobile, please ensure that you have the original or certified copy of purchase receipt for your device or a written confirmation of purchase and warranty on the letterhead of the authorized dealer where you bought the device. This receipt or warranty must display the name of the dealer, the make & model of the device, the IMEI no. of the device, the date of purchase and the amount paid. Photocopied receipts must be certified by the retailer who sold the device. While this proof-of-purchase document is not required at the time of sign-up, it will be required at the time of a claim. The year of purchase on the receipt or warranty MUST match the year of purchase you provide during the sign-up process.
  /     %br/
  /     %p._p-Paragraph--p- Please also note that you will be required to show your National ID or Passport at the time of a claim. This will help to ensure that only the person who signed up for the Orient Mobile policy can claim for it.
  /     %br/
  /     %p._p-Paragraph--p- Please note the following information somewhere you can easily refer to as you are using your phone/ tablet:
  /     %ol
  /       %li._ul-bulletStyles-1--ul-.ParaOverride-1 Your National ID or passport number
  /       %li._ul-bulletStyles-1--ul- The IMEI number of your device i.e. the unique serial number of your device. You can retrieve this by dialling *#06# on your device and the IMEI no. will be displayed on the screen. The sign-up process can only be done from the device which is to be insured. The process is initiated via SMS but is completed on the internet. Therefore, Orient Mobile only covers devices that can access the internet. The standard SMS and data rates as charged by your mobile network operator will apply.
  /       %br/
  /     %p._p-Paragraph--p- The sign-up process could take between 5 and 25 minutes to complete depending on mobile network signal strength, internet speed of the device, the payment method, and user speed.
  /     %br/
  /     %h3._h3-Heading3--h3- The sign-up process is as follows:
  /     %ol
  /       %li._ul-bulletStyles-1--ul-.ParaOverride-1 Send an SMS with the word Mobile to 70707.
  /       %li._ul-bulletStyles-1--ul- You will receive an SMS with a link to the Orient Mobile website. Click on this link to continue with the sign-up process.
  /       %li._ul-bulletStyles-1--ul- Click on Secure my phone/ tablet.
  /       %li._ul-bulletStyles-1--ul- Enter the code of your Orient Mobile sales agent. The Sales Agent will provide this code to you. If you are not using a Sales Agent, please enter the number 0. Please note that if you enter a Sales Agent code that is not in our database, the system will assume you are not using an agent.
  /       %li._ul-bulletStyles-1--ul- Enter the Year of Purchase of your device. This MUST be the year indicated on your original purchase receipt or warranty.
  /       %li._ul-bulletStyles-1--ul- Enter your full name (as per your ID or Passport) and email address. Click Continue.
  /     %br/
  /     %p._p-Paragraph--p- The screen will display a message with the following information:
  /     %ul
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Make & model of your phone/ tablet and its year of purchase (as provided by you)
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Insurance Value of your phone/ tablet
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Your name and ID or Passport No.
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Name of your Sales Agent (identified by the Sales Agent code you provided)
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 1-year insurance premium based on the Insurance Value of your phone/ tablet
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 1-year insurance premium that can be paid in 3 monthly instalments
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 A unique account number which you must use when making your payment. This account number is valid for 72 hours after which it expires. Please record this account number somewhere you can easily refer to as you use your phone/ tablet. Click Accept.
  /     %br/
  /     %p._p-Paragraph--p- KOIL uses state-of-the-art technology to confirm the details of your device and calculates an insurance value based on the make, model and year of purchase of the device. This insurance value also takes into account the expected depreciation of the device over the next 12 months. Therefore the insurance value will always be lower than the retail price of the device at the time you are taking up the policy.
  /     %ul
  /       %br/
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Please select your preferred mode of payment in order to view the payment instructions. Payment can be made via Mobile Money transfer, Visa, MasterCard or Kenswitch. Two SMS messages will also be sent to your phone/ tablet:
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 SMS 1 will confirm the make, model and year of purchase of your device as well as its insurance value and the amount due. The amount due will be the choice you selected i.e. either 1 lumpsum payment or an instalment payment.
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 SMS 2 will provide your unique account number (valid for 72 hours) and the Mobile Money payment instructions.
  /     %br/
  /     %p._p-Paragraph--p- When making your payment, you must pay AT LEAST the amount shown as the total amount due. If you do not pay AT LEAST this amount, you will not have a valid Orient Mobile policy and you will lose the payment. Once you have successfully made a payment, you will receive an SMS on your phone/ tablet with instructions to send your 15-digit device IMEI no. to 70707. The IMEI no. is a serial number that is unique to your device. You can get this number by dialling *#06# on your phone/ tablet and it will appear on the screen. Record the first 15 digits of this number and SMS it to 70707.
  /     %p._p-Paragraph--p- Once you have successfully made the payment for your Orient Mobile policy AND submitted your device IMEI no. to 70707, an SMS will be sent to your phone/ tablet. This SMS will contain the following information:
  /     %ul
  /       %br/
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Insurance value of your device
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Orient Mobile policy number
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Policy expiry date
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 URL for the KOIL Orient Mobile website with the full policy Terms & Conditions. Please note that the Terms & Conditions will also be automatically emailed to you at the email address you provided during sign-up.
  /     %br/
  /     %p._p-Paragraph--p- If you are paying your premium in instalments you will receive an SMS 2 days before your payment is due with the following information:
  /     %ul
  /       %br/
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Full Premium balance
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Payment due
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Payment due date
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Unique account number which you MUST use when making the payment
  /       %li._ul-bulletStyles-2--ul-.ParaOverride-1 Mobile Money payment instructions.