.hero
  .show-for-small
    %nav.top-bar
      %ul.title-area.logo-holder
        %a.logo
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section.menu
        %ul.left.small-block-grid-2
          %li.alt.left
            %a{:href => "/"} Back Home

  .logo-holder
    .row.menu-holder.hide-for-small    
      .large-12.columns
        %a.logo      
        %ul.top-links.hide-for-small{"data-magellan-expedition" => ""}      
          %li.active{"data-magellan-arrival" => "home"}
            %a{:href => "/"} Back Home



.row
  .large-8.large-centered.columns
    %h1.subheader.first
      KENYA ORIENT INSURANCE LTD’S PRIVACY POLICY
    %p
      This policy is intended to inform our clients and any other persons who come into contact with our organization of the likely use of the information they provide to us.

    / %ol.terms
    %h3.subheader
      1. Our Commitment to Privacy
    %p
      Please note that our Privacy Policy applies to all our customers, our fans on our Social Media networks and visitors to our website. Your contact with us whether online or offline constitutes acceptance of this privacy policy and any modifications made to it. 
    %h3.subheader
      2. Acceptance Privacy Policy Terms
    %p
      Please note that our Privacy Policy applies to all our customers, our fans on our Social Media networks and visitors to our website. Your contact with us whether online or offline constitutes acceptance of this privacy policy and any modifications made to it. 
    %h3.subheader
      3. Application of Privacy Policy 
    %p
      This Policy does not override any specific confidentiality agreements entered between us and any other party. 
     
    %h3.subheader
      4. Links 
    %p
      Our Website contains links to other web sites operated by third parties. We are not responsible for the privacy practices or policies of such third party websites and this Policy does not apply to those websites. 
     
    %h3.subheader
      5. The Information We Collect 
    %p
      In your interaction with us (whether offline or online) you may constantly be asked to provide us with your personal information. This information will be kept confidential subject to the provisions of Clause 6. 
     
    %h3.subheader
      6. How We Use Personal Information 
    %p
      Kenya Orient Insurance Ltd uses your personal information only for specific purposes. The personal information you provide to us, such as your name, postal or e-mail address or telephone number will be kept confidential and used to support your customer relationship with us and to notify you of special offers, updated information and new products and services from Kenya Orient or offers from third parties that we think may be of interest to you. Should the need arise to share your personal information with our Agents or contractors, they are required to keep the information confidential and not use it for any other purpose than to carry out the services they are performing for Kenya Orient    Insurance Ltd. 
    %p
      Kenya Orient Insurance may enhance or merge your personal information collected at any point of interaction with us with data from third parties for purposes of marketing products or services to you. 
    %p
      Circumstances may arise where we are required to disclose your personal information to third parties for purposes other than to support your customer relationship with us, such as:- where disclosure is permitted or required by law (for example, in connection with judicial proceedings or governmental investigations), in support of industry regulators and players etc. In such instances, your basic personal information (i.e. telephone contacts, insurance history etc) may be provided. 
     
    %h3.subheader
      7. Opting Out or Unsubscribing 
    %p
      We will send you information about our various products and services or other products or services we feel may be of interest to you. Only Kenya Orient Insurance (or agents or contractors working on our behalf under confidentiality agreements) will send you these direct or electronic mailings. If you do not wish to receive such mailings, you can request to be removed from either our direct or electronic mailing lists at any time by emailing us at 
      =mail_to "unsubscribe@korient.co.ke","(unsubscribe@korient.co.ke)."
       
     
    %h3.subheader
      8. Our Commitment to Data Security 
    %p
      To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put into place appropriate procedures to safeguard and secure the information we collect online through firewalls and encryption technology. 
     
    %h3.subheader
      9. Amendments 
    %p
      We reserve the right to amend this Privacy Policy at any time. Changes will be posted on the relevant sites and/or points of interaction. 
     
    %h3.subheader
      10. How to Contact Us 
    %p
      If you would like to contact us for any reason regarding our privacy practices, to request a copy of the personal information that Kenya Law Reports has collected about you or to have inaccuracies or omissions in this information corrected via the Internet, contact 
    
      =mail_to "mobile@korient.co.ke","mobile@korient.co.ke"
      =mail_to "privacy@korient.co.ke","(privacy@korient.co.ke)."
    %br
    %br

    
:css
  #header{display:none;}
        