#home-page{"data-role" => "page", "data-theme" => "b"}
  %section{"data-role" => "content", :role => "main"}
    %h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
    - if (@is_insurable)
      %p Insurable
    - else
      %p Not insurable