#sales-info-page{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true", class: "enquiry #{@status.enquiry_type}"}
  %header{"data-role" => "header"}
    %h1
      Customer Not Found
  -#%section{"data-role" => "content", :role => "main"}
    %h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
  %section{"data-role" => "content", :role => "main"}
    %section{"data-role" => "content", "role" => "main"}
      %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
        %li{"data-role" => "list-divider"}
          Could not find your customer record...
        %li.message<
          We are unable to trace a policy under your ID or Passport number. Please recheck  the details. Please #{link_to("call 0202962000", "tel:+0202962000", :class => "inline")} for assistance.