#confirm-details{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Your Payment
  %section{"data-role" => "content", :role => "main"}
    %h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      %li{"data-role" => "list-divider"}
        Your payment details below...