#sales-info-page{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Sales Details
  %section{"data-role" => "content", :role => "main"}
    = render partial: "enquiry_form", locals: { enquiry: @enquiry }