#not-insurable{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Cannot Insure Device
  -#%section{"data-role" => "content", :role => "main"}
    %h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      %li{"data-role" => "list-divider"}
        Please see below...
      %li
        %img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Make & Model:
        %span.model
          = !session[:device].nil? ? session[:device]['model'] : session[:model]
      %li
        %img{:src => "/assets/calendar.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Year of Purchase:
        %span.model
          = @enquiry.year_of_purchase
      %li.message
        Unfortunately we are not able to provide you with an Orient Mobile policy for your device at this time.
        Please click #{link_to("here", "http://korient.co.ke", :class => "inline")} for other great products and services.