#home{"data-role" => "page", "data-theme" => "b"}
  %section{"data-role" => "content", :role => "main"}
    -#%h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
    %p
      Dear
    %span
      = session[:user_details]["customer_name"]
    %span
      , unfortunately we are unable to offer you any additional Orient mobile policies at this time. Thank you for considering us.