#home-page{"data-role" => "page", "data-theme" => "b"}
  %section{"data-role" => "content", :role => "main"}
    %h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
    %ul{"data-divider-theme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} I want to...
      %li{"data-icon" => "arrow-r"}
        %a{:href => "/mobile/secure"} Secure My Phone
      %li{"data-icon" => "arrow-r"}
        %a#checkStatus{"data-rel" => "dialog", :href => "#coming-soon"} Check My status
      %li{"data-icon" => "arrow-r"}
        %a#reportLoss{"data-rel" => "dialog", :href => "#coming-soon"} Report Loss / Damage
#coming-soon{"data-role" => "page", "data-title" => "Coming Soon"}
  %section{"data-role" => "content", :role => "main"}
    %p Please check back in a while...
    %a{"data-rel" => "back", "data-role" => "button", :href => "#"} Ok