#start-again{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "false"}
  %header{"data-role" => "header"}
    %h1
      Oops! Error Occurred
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      %li{"data-role" => "list-divider"}
        Please see instructions below...
      %li.message
        Unfortunately an error occurred during the process. Please close this window and start again by sending the word #{ENV['KEYWORD']} to #{ENV['SHORT_CODE']}