<% if !dealers.nil? %>
    <p>The following are the dealers available in your town:</p>

    <ul>

      <% dealers.each do |dealer| %>
        <li><%= dealer %></li>
      <% end %>

    </ul>

<% end %>