= image_tag attachments['admin_banner.jpg'].url
%br
%h6 Claim No: #{@claim.claim_no}
%p Dear #{@claim.policy.quote.insured_device.customer.name}
%p We regret to inform you that your Orient Mobile DAMAGE claim has been declined
%p Reason:
%p
  =
%p Please contact our call center on 0733123456 if you would like further information on this.
%p Sincerely
%p Orient Mobile Services