%p
  Welcome to Orient Mobile Claims
%h3
  CLAIM REGISTRATION
%p
  Please print this document and carry it with you to our authorized repair/ supply partner
%p
  You have successfully registered a claim as follows:
%ul
  %li
    %b
      Insured:
    %span
      =
  %li
    %b
      ID/Passport No::
    %span
      =
  %li
    %b
      Tel:
    %span
      =
  %li
    %b
      Claim No:
    %span
      =
  %li
    %b
      Claim Reporting Date:
    %span
      =
  %li
    %b
      Device:
    %span
      =
  %li
    %b
      IMEI No:
    %span
      =
  %li
    %b
      Claim Type:
    %span
      =
%p
  Please visit OMB DEALERS in
%span
  =
%span
  with the following:
%ul
  %li
    The damaged device
  %li
    Original purchase receipt/ warranty (must display device make, model & IMEI, seller and price & date of purchase)
  %li
    Original ID/ Passport
  %li
    This claim registration confirmation