-#%img{:src => "../assets/admin_banner.jpg", :style => "display:block;margin:auto"}
-#= image_tag attachments['admin_banner.jpg'].url
%p Dear #{@claim.policy.quote.insured_device.customer.name}
%p Please visit OMB DEALER in #{@claim.nearest_town} with ID or Passport for a replacement device. Limit KES 6500.
%p Please contact our call center on 0733123456 if you would like further information on this.
%p Sincerely
%p Orient Mobile Services