// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//header {
//  margin-top: 20px;
//}

ul.nav {
  margin: 10px 0px;
  float: right;

  li {
    border-right: 1px solid #eee;
    padding: 0px 10px;
  }
}