// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//header {
//  margin-top: 20px;
//}

ul.nav {
  margin: 10px 0px;
  float: right;

  li {
    border-right: 1px solid #eee;
    padding: 0px 10px;
    display: inline-block;
  }
}

h4.header {
  margin-top: 20px;
}

.details {
  padding: 10px;
  border: 1px solid grey;
  background-color: lightgrey;
}

.spacer {
  margin-top: 10px !important;
}

.centered {
  text-align: center;
}

.button {
  background-color: #000066;
  border-color: #000066;
}
.button:hover {
  background-color: #333399;
  border-color: #333399;
}

.datepicker {
  select {
    width: 80px;
  }
}