// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//header {
//  margin-top: 20px;
//}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic);

ul.nav {
  margin: 10px 0px;
  float: right;

  li {
    border-right: 1px solid #eee;
    padding: 0px 10px;
    display: inline-block;
  }
}

p.hide, small.hide, .hide {
  display: none;
  // color: #ffffff;
}

ul.errors {
  list-style-type: none;
  color: red;
  text-align: center;
}

h4.header {
  margin-top: 20px;
  font-weight: normal;
  border-bottom: 1px solid lightgrey;
}

.details {
  padding: 10px;
  border: 1px solid grey;
  background-color: lightgrey;
}

.spacer {
  margin-top: 10px !important;
}

.banner {
  display: block;
  margin: auto;
}

.centered {
  text-align: center;
}

.button {
  background-color: #000066;
  border-color: #000066;
}
.button:hover {
  background-color: #333399;
  border-color: #333399;
}

.button.alert:hover {
  border-color: #970b0e;
}

.datepicker {
  select {
    width: 80px;
  }
}

.checks, .claims {
  label {
    display: inline;
  }

  label.error {
    margin-left: 5px;
    margin-right: 5px;
  }
}

input.error,
label.error,
textarea.error {
  margin-bottom: 5px;
}

label.error {
  margin-top: 5px;
  color: red;
}

.ui-widget-header {
  background: #333399;
  border:  1px solid #333399;
}

.new_user {
  .label {
    background-color: white;
    color: inherit;
  }
}

.section_header  {
  font-weight: normal;
  border-bottom: 1px solid lightgrey;
}

[data-magellan-expedition] {
  background: transparent;
  min-width: 0;
}

[data-magellan-expedition].fxd {
  background: #000000;
}



.menu-holder {
  .fixed {
    width: auto;
    right: auto;
    left: auto;
  }
}


/*footer {
  position: fixed;
  background-color: #e8ebf1;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.25);

  h6, ul, p {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: geometricPrecision;
  }

  .title {
    width: 100%;
    background: #1d397d;
    height: 25px;

    h6 {
      line-height: 25px;
      color:#95b5ff;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      display: inline;
      padding-left: 10px
    }
  }

  .copyright {
    p {
      padding-left: 10px;
    }
  }

  ul.quick-links {
    list-style-type: none;

    li {
      margin-left: 10px;

      a {
        color: #030303;
      }

      a:hover {
        color: #1d397d;
      }
    }
  }
}*/
