.home.index {

	font-family: Lato, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-family: Lato, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;		
	}

	.logo-holder {
		border-top: 3px solid #ffffff;	
		position: fixed;
		width: 100%;
		z-index: 10000;

		a.logo {
			display: block;
			width: 120px;
			height: 120px;
			position: absolute;
			top: -3px;
			background-image: url('/assets/logo.png'); 
			background-repeat: no-repeat;
		}
	}

	.top-links {
		float: right;
		list-style-type: none;
		margin-top: 10px;

		li {
			float: left;
			margin-right: 30px; 
		}

		a {
			color: #ffffff;
			font-weight: 700;
		}

		a.active {
			border-bottom: 3px solid #d61d23;
		}
	}

	.menu-holder.fxd {
		background: #000000;
	}

	.hero, .how-to {
		background-color: #11110d;
	}

	.learn-more {
		position: absolute;
		bottom: 10px;
		width: 100%;

		a {
			color: #ffffff;
			margin: auto;	
			display: block;
			text-align: center;
			margin-bottom: 10px;
		}

		a.img-link {
			background: url('/assets/learn-more.png') no-repeat;			
			width: 41px;
			height: 41px;		
			margin-bottom: 0px;	
		}
	}

	.orbit-container .orbit-prev, .orbit-container .orbit-next {
		background-color: transparent;
	}

	.jumbo {
		margin-top: 30px;

		p {
			text-align: center;
			font-weight: 400;
		}

		.feature {
			text-align: center;			

			h5 {
				color: #19286d;
			}
		}
	}

	.devices {
		text-align: center;				
	}	

	h4 {			
		color: #5c686f;
	}

	.how-to {
		.bg {
			background-image: url('/assets/smoke_banner.png');
			background-repeat: no-repeat;
			min-height: 600px;
			background-position: top right;
			    p{
			    	color: #ffffff;
			    	.left{
			    		margin-left: 50px;
			    	}
			    	.right{
			    		float: right;
			    	}
			    }
				h4{
					margin-top: 50px;
					//font-size: 
					text-align: center;
					color: #ffffff;
				}
		}
	}

	.testimonials {
		background-color: #17286d;
		// margin-top: 30px;
		// margin-bottom: 10px;
		// padding: 50px;

		li {
			padding: 30px;
		}

		img.quote {
			margin: 20px auto 0px;
			display: block;
		}

		blockquote {
			color: #ffffff;
			border-left: none;
			display: block;
			min-height: 200px;
		}

		cite {
			color: #ffffff;
			padding-top: 10px;
			text-align: center;
		}

		.orbit-container {
			background-color: #17286d;
		}
	}

	.claims {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #eef0f0;

		ol {
			margin-left: 20px;
		}
	}

	.signup, .signup:hover {
		background-color: #d40e14;
		border-color: #d40e14;
		box-shadow: none;
	}

	.footer {
		border-top: 3px solid #d41117;
		padding-top: 20px;
		background-color: #3d437b;
		

		a {
			color: #bcbec0;				
			font-size: 0.9em;
		}

		p, li {
			font-size: 0.8em;
		}


		.vcard {
			border: none;
			color: #ffffff;
			padding: 0.625em 0;
		}

		.links {
			li {
				margin-bottom: 0px;
				padding-bottom: 0px;
			}
		}

		h6, p {
			color: #ffffff;
			font-weight: 300;
			margin-top: 8px;
		}

		p {
			margin-bottom: 0.5em;
		}		

		.social-icons {
			a {
				display: block;
				height: 23px;
				width: 25px;				
			}


			a.facebook {
				background: url('/assets/facebook.png') no-repeat;
			}
			a.twitter {
				background: url('/assets/twitter.png') no-repeat;
			}
		}
	}

	.copyright {
		background-color: #202767;

		p {
			color: #ffffff;
			font-size: .8em;
			padding: 0.9em 0;
			margin-bottom: 0px;

			a {
				color: #ffffff;
			}
		}
	}
}
