/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.mobile
 *= require mobile_app
*/

.field_with_errors {
  color: red;
}

.model {
  font-weight: normal;
}

.message {
  padding: 10px;

  .ui-btn-text {
    font-weight:normal;
    white-space: pre-wrap;
  }

  .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li, a.inline {
    display: inline-block !important;
    padding: 0em 0px !important;
    text-decoration: underline !important;
  }
}
