/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.mobile
 *= require mobile_app
 *= require jquery.mobile.tabs
*/

.field_with_errors,
.formError {
  color: red;
}



.ui-body-b .ui-link, 
.ui-body-b .ui-link:visited,
.ui-body-b .ui-link:active {
    color: #ffffff;
}

label.error {
  color: red;
  padding-top: .5em;
  vertical-align: top;
  font-weight:bold
}

.model {
  font-weight: normal;
}

.message {
  padding: 10px;

  .ui-btn-text {
    font-weight:normal;
    white-space: pre-wrap;
  }

  .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li, a.inline {
    display: inline-block !important;
    padding: 0em 0px !important;
    text-decoration: underline !important;
  }
}

.jambopay {
  margin: auto;
  display: block;
}

.payment {
  text-align: center;
}

.edit_enquiry {
  .buttons {
    .ui-btn {
      display: inline-block;
    }
  }
}

.ui-body-b {
  background: white;
  background-image: none;
}

.ui-bar-b,
.ui-bar-a {
  background: #003366;
  background-image: none;
}

.ui-btn-up-b,
.ui-btn-hover-b {
  background-image: none;
  background: #003366;
  border: 1px solid #003366;
}

.ui-btn-hover-a,
.ui-btn-up-a {
  border: 1px solid #ffffff;
  background: #ffffff;
  background-image: none;
}

.ui-btn-hover-a,
.ui-btn-up-a {
  color: #000000;
}

.ui-bar-a {
  text-shadow: 0 1px 0 transparent;
}

.ui-btn-text {
  text-shadow: none;
}

.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit {
  color: black;
  text-shadow: none;
}

.phone_number {
  border: 1px solid #999999;
  background-color: #999999;
  padding: .4em;
  border-radius: 5px;
}

a.continue {
  color:  #003366 !important;
}


.tip {
  padding: 5px;
  border-radius: 5px;
  opacity: .6;
}