.terms li ol, .terms li ul {
	margin:0 0 1em 3em;

}


h1.subheader {
	color: #d6231d;
	font-size: 2.2em;
}

h1.subheader.first {
	margin-top: 3em;
}

.tnc .fxd {
	background: none !important;
}

.tnc .top-links a {
	color: #d6231d !important;
}