.row
  .large-8.columns.large-centered
    %form{:method => "POST", :action => customer_login_path}
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          = content_tag :div, msg, :id => "flash_#{name}", :class => "label error flash"
      .row
        .large-12.columns
          %label{:for => "id_number"}
            Please enter your National ID or Passport Number
      .row.collapse
        .large-10.columns
          %input{:type => "text", :name => "customer_id", :id => "customer_id"}
        .large-2.columns 
          %input.button.postfix.small{:type => "submit"}