.row
  .large-8.large-centered.columns
    %h4.centered.header
      Welcome to Orient Mobile Claims
.row
  .large-8.large-centered.columns
    - if(flash[:notice])
      %div.alert-box
        = flash[:notice]
    = render 'login_form'
