.row
  .large-10.large-centered.columns
    %h4.centered.header
      Welcome to Orient Mobile Claims
      - if !current_user.nil?
        - if current_user.user_type == "CP"
          #{': Fones Direct Outlet Portal'}
        - elsif current_user.user_type == "DP"
          #{': Dealer Portal'}
        - else
          #{': Fones Direct Service Centre'}
.row
  .large-10.large-centered.columns
    - if !current_user.nil?
      - if current_user.user_type == "DP"
        .row.spacer.disabled
          .large-6.columns
            %label
              Outlet Name
            %input{:type => "text", :value => current_user.agent.name}
          .large-6.columns
            %label
              Outlet Code
            %input{:type => "text", :value => current_user.agent.code}
