.row
  .large-10.large-centered.columns
    .row.disabled
      .large-6.columns
        %label
          Insured:
        %input{:type => "text", :value => @claim.policy.customer.name}
      .large-6.columns
        %label
          ID / Passport No:
        %input{:type => "text", :value => @claim.policy.customer.id_passport }
    .row.disabled
      .large-6.columns
        %label
          Tel:
        %input{:type => "text", :value => @claim.policy.customer.phone_number }
      .large-6.columns
        %label
          Claim No:
        %input{:type => "text", :value => @claim.claim_no }
    .row.disabled
      .large-4.columns
        %label
          Claim Reporting Date:
        %input{:type => "text", :value => @claim.created_at.to_s(:simple)}
      .large-4.columns
        %label
          Incident Date
        %input{:type => "text", :value => @claim.incident_date.to_s(:simple) }
      .large-4.columns
        %label
          Claim Type:
        %input{:type => "text", :value => @claim.claim_type }
    .row.disabled
      .large-4.columns
        %label
          Device:
        %input{:type => "text", :value => @claim.policy.insured_device.device.nil?? @claim.policy.quote.insured_device.device.model : @claim.policy.insured_device.device.model }
      .large-4.columns
        %label
          IMEI:
        %input{:type => "text", :value => @claim.policy.quote.insured_device.imei }
      .large-4.columns
    - if @claim.status == 'Settled'
      .row
        .large-12.columns
          %hr
          %h5
            KOIL Decision
      .row.disabled
        .large-4.columns
          %label
            Authorization Type
          %input{:type => "text", :value => @claim.authorization_type }
        .large-4.columns
          %label
            Replacement Limit
          %input{:type => "text", :value => @claim.replacement_limit }
        .large-4.columns
          %label
            Repair Limit
          %input{:type => "text", :value => @claim.repair_limit }
      - if !@claim.decline_reason.nil?
        .row.disabled
          .large-12.columns
            %label
              Decline Reason
            %input{:type => "text", :value => @claim.decline_reason }
      .row
        .large-12.columns
          %hr

    .row.spacer
      .large-12.columns
        %p.centered
          %b
            = @claim.claim_status
        %hr