.footer
  .row
    .large-12.columns
      .row
        .large-3.columns
          %ul.vcard
            %li
              Corporate Headquarters
            %li
              Capitol Hill Towers
            %li.street-address
              6th Floor, Nairobi, Kenya 
            %li.street-address
              CONTACT. 020 2962000
            %li.street-address
              Email: 
              %a{:href =>"mailto:info@korient.co.ke"}
                mobile@korient.co.ke
        .large-3.columns
          %h6
            QUICK LINKS
          %ul.large-block-grid-2.small-block-grid-2.links
            %li
              %a{:href => '/customer'}
                Register a claim
            %li
              %a{:href => '/admin'}
                Admin
            %li
              %a{:href => "terms_and_conditions" }
                Terms & Conditions
            %li
              %a{:href => '/users/sign_in?user_type=DP'}
                Dealer Portal
            %li
              %a{:href => '/users/sign_in?user_type=SC'}
                Service Centre
            %li
              %a{:href => '/users/sign_in?user_type=CP'}
                Claims Portal
        .large-4.columns
          %p
            Sign up to our newsletter:
          = form_for(Subscription.new(), remote: true) do |f|
            .row.collapse
              .large-8.columns
                = f.email_field :email, :placeholder => "Your Email*"
                %small.error.email_error_message.hide
                %p.thankyou.hide
                  Thank you for signing up to our newsletter!
              .large-4.columns
                %input.button.postfix.expand.signup{:type => "submit", :value => "Sign Up"}

        .large-2.columns
          %p
            We are social too:
          %ul.large-block-grid-4.social-icons
            %li
              %a.facebook{:href => "https://www.facebook.com/lovemobke"}
            %li
              %a.twitter{:href => "http://twitter.com/lovemobke"}
.copyright
  .row
    .large-10.columns
      %p
        Copyright &copy; 2013 Kenya Orient Insurance Limited
    .large-2.columns
      %p
        %a{:href => tnc_short_path }
          Terms
        &nbsp;|&nbsp;
        / %a{:href => "/pages/privacy_policy" }
        = link_to "Privacy Policy", pages_privacy_policy_path