.row
  .large-6.columns
  .large-6.columns
    %ul.nav
      %li
        %a{:href => new_user_session_path}
          Claims Portal
      %li
        %a{:href => new_user_session_path}
          Dealer Portal
      %li
        %a{:href => customer_index_path }
          Customer Claims
      %li
        %a{:href => admin_root_path }
          Admin
