.row
  .large-12.large-centered.columns
    %ul.nav
      - if user_signed_in?
        %li
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li
          %a{:href => customer_index_path }
            Customer Claims
        %li
          %a{:href => "#{new_user_session_path}?user_type=DP"}
            Dealer Portal
        %li
          %a{:href => "#{new_user_session_path}?user_type=CP"}
            Claims Portal
      %li
        %a{:href => admin_root_path }
          Admin
