.row
  .large-8.large-centered.columns
    %hr
    %p.centered
      %b
        No such policy #{params[:policy_no]} was found
    %p.centered
      %a.button.small{:href => root_path}
        Back
    %hr